{
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            },
            "modules": "commonjs"
          }
        ]
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 versions",
                "ie >= 11"
              ]
            },
            "modules": false
          }
        ]
      ],
      "plugins": [
        "external-helpers",
        "transform-object-assign"
      ]
    }
  }
}