{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "VERSION": false
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-undefined": "error",
    "no-unused-vars": "warn",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"]
  }
}
